<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
     
  </ion-toolbar>
</ion-header>

<ion-content>

  	<div  class="homework__container">
        <div class="homework__type-section">
        
          <ion-slides pager="true" [options]="slideOpts" >

              <ion-slide *ngFor="let slide of slides">
                  <img (click) = "ionSlideClick()"  [src]="slide.url">
              </ion-slide>
            </ion-slides>

        </div>
      </div>

</ion-content>
