<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
     
  </ion-toolbar>
</ion-header>

<ion-content>

  	<div  class="homework__container">
        <div class="homework__type-section">
        
          <ion-slides pager="true" [options]="slideOpts" (ionSlideTap)="ionSlideTap()">

              

              
              <ion-slide tappable>
                <img class="imag" src="/assets/images/homework/homejob-type-1.png">
              </ion-slide>
              <ion-slide tappable>
                  <img src="/assets/images/homework/homejob-type-2.png">
              </ion-slide>
              <ion-slide tappable>
                  <img src="/assets/images/homework/homejob-type-3.png">
              </ion-slide>
              <ion-slide tappable>
                  <img src="/assets/images/homework/homejob-type-4.png">
              </ion-slide>
            </ion-slides>

        </div>
      </div>

</ion-content>
