@import '../../assets/css/variables.scss';

.homework__container {
	background-color: $bg-color;
    height: 724px;
   
    
    .homework__type-section {
       padding-top: 20%;
       width: 700px;
       height: 288px;
       margin: auto;

       imag {
          width: 300px;
          
       }
    }
	

	
}