@import '../../assets/css/variables.scss';

.knowledge__container {
	background-color: $bg-color;
	height: 724px;
	
	.knowledge__video-section {
		display: flex;
		justify-content: center;
		background: no-repeat url("/assets/images/rectangle-scribble-frame-1.png");
		background-size: 604px 377px;
		width: 604px;
		height: 380px;
		margin: auto;

		.knowledge__video {
			width: 512px;
			height: 288px;
			margin: 46px;
		}
	}

	.knowledge__video-img {
		width: 200px;
		height: 200px;
		margin-top: 160px;
		transform: rotate(-20deg);
	}

	.img-right {
		transform: rotate(20deg);
	}

	.knowledge__text-section {
		font-family:'Fmonospace';
		font-size: 31px;
		color: white;
		line-height: 50px;
		margin: 60px 100px 0 100px;
	}
}