<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
      <ion-title>What is money?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="knowledge__container">
		<div class="knowledge__video-section">
			<img class="knowledge__video-img" src="/assets/images/money-3.png">
			<video class="knowledge__video" src="/assets/videos/money.mp4" autoplay loop></video>
			<img class="knowledge__video-img img-right" src="/assets/images/money-4.png">
		</div>
		<p class="knowledge__text-section">Now you've learned something about money. Sounds really good, right? But money doesn't really grow upon trees. Most people get their money by earning it through work. Let's get back and earn some by ourselves!</p>
	</div>
</ion-content>
