<ion-content>


 <video autoplay loop muted playsinline src="assets/bg.mp4"></video>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Do you know?</ion-card-subtitle>
            <ion-card-title style="font-family:'Fhead';color: white">Welcome to FinForFun</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p style="font-family:'Fmonospace';color: white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <a href="#" [routerLink]="['/knowledge']">go details</a>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/bank']">bank</a>
            </h1>
        </ion-slide>
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/market']">market</a>
            </h1>
            
        </ion-slide>
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/work']">homework</a>
            </h1>
        </ion-slide>
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/travel']">travel</a>
            </h1>
        </ion-slide>
    </ion-slides>
</ion-content>