.welcome-card {
    background-color: #389AE3;
    width: 80%;
    margin: 40px auto;
    border: 10px solid white;
    border-radius: 40px;
    ion-card-title {
      color: white;
      font-size: 50px;
      font-family: 'Fhead';
   }
   p {
    font-size: 24px;
   }
   .welcome-card--a {
      background-color: #ff904f;
      border-radius: 12px;
   }
}
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.swiper-slide {

	width: 400px;
	height: 300px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

 video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0.7;
       // z-index: -1;
    }


.slide {
  height: 321.333px;
  border-radius: 160px;
  background-color: #389AE3;
}

ion-slide {
  border: 10px solid white;
}

ion-slide.swiper-slide-next {
  border-color: #ffbc00;
}

.bg-img {
    background-size: 280px 280px;
    border-radius: 140px;
    background-repeat: no-repeat;
    background-color: #389AE3;
    display: inline-block;
    width: 280px;
    height: 280px;
}

.bg-img--bank {
  background-image: url('/assets/images/piggy-bank.png');
}

.bg-img--market {
  background-image: url('/assets/images/stock.png');
}

.bg-img--work {
  background-image: url('/assets/images/mop.png');
}

.bg-img--travel {
  background-image: url('/assets/images/suitcase.png');
}
