<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title>Do you know?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                <b>MONEY</b> is something that lets us buy things we want. It is made up of coins and notes. You might get money from your parents or grandparents as a gift for your birthday or other special occasions, for doing jobs around the house, or by selling things you don't want anymore.
                <a href="#" [routerLink]="['/knowledge']">Find more</a>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/bank']">bank</a>
            </h1>
        </ion-slide>
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/market']">market</a>
            </h1>
            
        </ion-slide>
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/work']">homework</a>
            </h1>
        </ion-slide>
        <ion-slide>
            <h1>
                <a href="#" [routerLink]="['/travel']">travel</a>
            </h1>
        </ion-slide>
    </ion-slides>
</ion-content>