@import '../../assets/css/variables.scss';

.homework-popup__container {

    background-color: #000;
    background: no-repeat url("/assets/images/homework/popup-bg.png");
    background-size: 580px 380px;
    width: 690px;
    height: 500px;
    margin: auto;
   

	
}