@import '../../assets/css/variables.scss';

ion-content{
    --background: transparent !important;
    
}

.homework-popup__container {
    background: no-repeat url("/assets/images/homework/popup-bg.png");
    background-size: 580px 380px;
    width: 690px;
    height: 380px;
    margin: auto;
   
}



.confirm {

    margin-top: 280px;
    margin-left: 150px;

}